version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: messages-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: messages
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
